// about
.about

// about-section
.about-section
	position: relative
	margin-top: 200px

	&-wrapper
		display: flex
		justify-content: space-between

	&-right
		width: 50%

	&-statistics
		margin-top: 100px

		display: flex
		justify-content: space-between

		&-item
			width: 30%
			padding-bottom: 25px
			border-bottom: 1px solid $borderGray

			&__title
				font-size: 54px

			&__subtitle
				display: block
				margin-top: 10px
				font-size: 18px

	&-circle
		width: 400px
		height: 400px
		left: 450px
		top: -50px