// animations
.rotate
  animation: rotate 1.5s infinite

// keyframes
@keyframes open
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes close
	0%
		opacity: 1
	100%
		opacity: 0

@keyframes rotate
	from
		transform: rotate(-360deg)
