// cart
.cart
	margin: 75px 0

	&-block
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

		padding-bottom: 50px
		border-bottom: 1px solid $borderGray

		margin-bottom: 50px

		+openAnimation

		&-content
			display: flex

			&-cover
				width: 250px
				height: auto

				+backgroundSetting
				+borderRadius

				&-media
					display: none

			&-text
				margin-left: 50px
				width: 60%

				&__title
					font-size: 32px

				&__auth
					display: block
					margin-top: 35px
					font-size: 21px
					color: $mainColor

				&-tags
					margin-top: 15px
					margin-bottom: 50px

				&__category
					color: $gray

				&-bottom
					display: flex
					justify-content: space-between
					align-items: center

				&__subprice
					font-size: 21px
					margin-bottom: 5px
					color: $gray
					text-decoration: line-through

				&__price
					font-size: 24px

		&-close, &-close-phone
			cursor: pointer

			& svg
				stroke: #B8B7B7
				+transition

				&:hover
					stroke: $red

		&-close-phone
			display: none

	&-total
		margin-top: 50px

		display: flex
		justify-content: space-between
		align-items: center
		+openAnimation

		&-text
			display: flex
			align-items: center

		&__subtitle
			font-size: 24px
			margin-right: 15px

		&__title
			font-size: 32px

			& span
				margin-left: 5px
				font-size: 24px

	&-empty
		max-width: 75%
		margin: 0 auto

		text-align: center
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		+openAnimation
