// cookies
.cookies
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	z-index: 100

	padding: 15px 25px

	background-color: #fcfcfc

	align-items: center
	display: flex
	justify-content: space-between

	&__title
		font-size: 21px
		width: 50%
