// cookies
.cookies
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	z-index: 100

	padding: 15px 25px

	background-color: #fcfcfc

	align-items: center
	display: flex
	justify-content: space-between

	&__title
		font-size: 21px
		width: 50%

	&__btn
		border: none
		border-radius: 100px

		padding: 13px 23px
		font-size: 17px

		background-color: $mainColor
		color: $white

		cursor: pointer
		line-height: 1.4em

		+transition

		&:hover
			background-color: #e2ab74
