// course-page
.course-page
	&__btn
		display: block

		position: fixed
		z-index: -1

		bottom: 20px
		right: 20px

		min-width: 220px

		opacity: 0

		+transition
		+boxShadow

		&.visible
			opacity: 1
			z-index: 15

	&-main
		margin: 25px 0 75px 0
		+openAnimation

		&-wrapper
			display: flex
			justify-content: space-between

		&-image
			width: calc( 50% - 10px )
			min-height: 100%

			padding: 20px

			+backgroundSetting
			+borderRadiusBlock

			&__master
				display: inline-block

				font-size: 18px
				background-color: $backgroundGray

				padding: 7px 15px

				border-radius: 100px

				will-change: transform

				+transition

				&:hover
					+transformScaleHover

				&:active
					+transformScaleClick

		&-text
			width: calc( 50% - 10px )
			background-color: $backgroundGray
			padding: 35px

			+borderRadiusBlock

			&-subinfo
				display: flex
				flex-wrap: wrap
				align-items: center

				font-size: 21px

				margin-bottom: 25px

			&__title
				width: 95%

				font-size: 48px

				margin-bottom: 25px

			&__description
				margin-bottom: 25px

			&-info
				display: flex
				align-items: center

				&__text
					font-size: 28px

					&:first-child
						margin-left: 0

				&-circle
					margin: 0 15px

					width: 5px
					height: 5px

					background-color: $black

					border-radius: 100px

			&__btn
				margin-top: 25px
				width: 100%

	&-content
		margin: 50px 0

		+openAnimation

		&.vertical &-video
			width: 500px
			min-width: 500px
			margin-right: 75px

		&.vertical &-list
			width: 100%

		&-wrapper
			display: flex
			justify-content: space-between
			align-items: flex-start

		&-list
			width: calc( 50% - 25px )

			&__title
				font-size: 42px
				margin-bottom: 25px

			&-lessons
				position: relative

				&-shadow
					z-index: 2

					display: none

					bottom: 0
					left: 0
					position: absolute

					border-radius: 0px 0px 25px 25px

					width: 100%
					height: 50px

					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 80%)

				&-item
					cursor: pointer

					display: block

					padding: 35px
					margin-bottom: 20px

					background-color: $backgroundGray

					will-change: transform

					+transition
					+borderRadiusBlock

					&:hover
						+transformScaleHover

					&:active
						+transformScaleClick

					&:last-child
						margin-bottom: 0

					&__title
						font-size: 32px

					&__description
						margin-top: 15px
						font-size: 24px

					&-materials
						margin-top: 35px

						&-item
							display: inline-flex
							align-items: center

							padding: 10px 15px

							margin-right: 10px
							margin-bottom: 10px

							border: 1px solid $mainColor

							border-radius: 100px

							+transition

							&:last-child
								margin-bottom: 0

							&:hover
								background-color: $mainColor

							&:hover svg
								fill: $white

							&:hover &__title
								color: $white

							& > svg
								fill: $mainColor

								+transition

							&__title
								font-size: 18px
								margin-left: 10px
								color: $mainColor

								+transition

		&-video
			top: 105px
			position: sticky

			width: calc( 50% - 25px )

			display: flex
			justify-content: center
			align-items: center

	&-skills
		margin: 75px 0

		&-items-wrapper
			display: flex
			justify-content: space-between

		&-item
			width: 32%

			display: flex
			flex-direction: column
			justify-content: space-between

			padding: 35px
			background-color: $backgroundGray

			will-change: transform

			+borderRadiusBlock
			+transition

			&:hover
				color: $white
				background-color: $mainColor

				+transformScale

			&__title
				font-size: 36px
				margin-bottom: 25px

			&__description
				font-size: 21px

	&-use-skills
		margin: 75px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-block
			&-title
				width: 50%

				&-icon
					width: 400px
					margin-top: 125px

					& > svg
						width: 100%

			&-text
				width: 48%

				&-item
					padding-bottom: 35px
					margin-bottom: 35px

					border-bottom: 1px solid $borderGray

					&:last-child
						margin-bottom: 0

					&__title
						font-size: 36px

					&__description
						margin-top: 25px
						font-size: 21px

	&-price
		margin: 75px 0

		&-blocks
			padding: 35px
			background-color: $backgroundGray

			display: flex
			justify-content: space-between
			align-items: flex-end

			+borderRadiusBlock
			+openPopup

			&.close
				+closePopup

			&-subscribe
				width: 49%
				background-color: $white

				display: flex
				flex-direction: column
				justify-content: space-between

				+borderRadiusBlock

				&-text
					padding: 35px

					&__subprice
						font-size: 24px
						margin-bottom: 10px

					&__title
						font-size: 42px

						& > span
							white-space: nowrap

					&__pricedesc
						font-size: 21px
						margin-top: 10px
						color: $gray

					&-list
						margin-top: 25px

						&__item
							display: flex
							align-items: flex-start

							color: $mainColor
							font-size: 21px
							margin-bottom: 8px

							&:last-child
								margin-bottom: 0

							& > svg
								width: 17px
								min-width: 17px

								margin-top: 9px
								margin-right: 10px

							& > p > img
								vertical-align: middle

								user-select: none
								pointer-events: none

								margin-left: 2px
								transform: translateY(-2px)

								width: 22px

					&__btn
						margin-top: 25px
						width: 100%

				&-image
					padding-bottom: 35px
					width: 100%

					&__image
						user-select: none
						pointer-events: none

						width: 100%

				&-image-media
					display: none
					width: 45%
					height: auto

					+backgroundSetting
					+borderRadiusBlock

			&-buy
				position: relative
				width: 49%
				padding: 35px
				background-color: $white

				display: flex
				flex-direction: column
				justify-content: space-between

				+borderRadiusBlock

				&-text
					&__sale
						position: absolute

						top: -10px
						right: -10px

						display: inline-block
						padding: 5px 10px

						font-size: 24px

						color: $mainColor
						background-color: $lightMainColor

						border-radius: 100px

						transform: rotate(5deg)

					&__subtitle
						font-size: 24px
						margin-bottom: 10px

					&-price
						display: flex
						align-items: flex-end

						&__title
							font-size: 42px

							& > span
								font-size: 38px
								text-decoration: line-through
								margin-left: 15px
								color: $gray

					&-list
						margin-top: 15px

						&__item
							display: flex
							align-items: flex-start

							color: $mainColor
							font-size: 21px
							margin-bottom: 8px

							&:last-child
								margin-bottom: 0

							& > svg
								width: 17px
								min-width: 17px

								margin-top: 9px
								margin-right: 10px

							& > p > img
								vertical-align: middle

								user-select: none
								pointer-events: none

								margin-left: 2px
								transform: translateY(-2px)

								width: 22px
					&__btn
						margin-top: 25px
						width: 100%

				&-image
					padding-top: 35px
					width: 100%

					&__image
						user-select: none
						pointer-events: none

						width: 100%
						+borderRadiusBlock

				&-image-media
					display: none
					width: 45%
					height: auto

					+backgroundSetting
					+borderRadiusBlock

		&-subscribe-rates
			padding: 35px 35px 50px 35px
			background-color: $backgroundGray

			+borderRadiusBlock
			+openPopup

			&.close
				+closePopup

			&-text
				display: flex
				justify-content: space-between
				align-items: center

				margin-bottom: 75px

				&-left
					width: 40%

					&__back
						background-color: transparent
						border: none

						display: block
						font-size: 24px
						color: $gray
						cursor: pointer

						margin-bottom: 25px

					&__title
						font-size: 42px

				&-timer
					display: flex

					&-block
						display: flex
						justify-content: center
						align-items: center
						flex-direction: column

						margin: 0 5px

						width: 95px
						height: 95px

						text-align: center

						background-color: $mainColor
						color: $white

						+borderRadiusBlock

						&__title
							font-size: 30px

						&__subtitle
							font-size: 21px

			&-blocks
				display: flex
				justify-content: space-between

				&-block
					display: flex
					flex-direction: column
					justify-content: space-between

					position: relative

					padding: 35px
					width: 32%
					background-color: $white

					transform: scale(0.92)

					+borderRadiusBlock

					&:nth-child(2n)
						transform: scale(1.05)

					&__sale
						display: flex
						justify-content: center
						align-items: center

						position: absolute
						right: 15px
						top: 15px

						width: 50px
						height: 50px

						font-size: 15px
						color: $white
						background-color: $mainColor
						border-radius: 50%

					&-top-text
						margin-bottom: 50px

						&__subtitle
							font-size: 21px
							margin-bottom: 10px

						&__title
							font-size: 32px

					&-middle-text
						margin-bottom: 50px

						&__price
							font-size: 58px
							margin-bottom: 5px

							& > span
								font-size: 32px
								color: $gray
								text-decoration: line-through

						&__subprice
							font-size: 21px

					&-bottom-text
						&__btn
							width: 100%
							margin-bottom: 10px

						&__subbtn
							font-size: 15px
							text-align: center
							color: $gray

		&-register
			padding: 35px
			background-color: $backgroundGray

			display: flex
			justify-content: space-between

			+borderRadiusBlock
			+openPopup

			&.close
				+closePopup

			&-form
				width: 49%

				display: flex
				flex-direction: column
				justify-content: center

				padding: 45px 60px
				background-color: $white

				+borderRadiusBlock
				+openPopup

				&-text
					width: 85%
					margin-bottom: 50px

					&__back
						background-color: transparent
						border: none

						display: block
						font-size: 24px
						color: $gray
						cursor: pointer

						margin-bottom: 25px

					&__title
						font-size: 42px

				&-input
					margin-bottom: 15px

				&__btn
					margin-top: 25px
					width: 100%

				&__policy
					display: block
					margin: 15px auto 0 auto

					text-align: center
					font-size: 14px
					color: $gray

					& > a
						color: $gray
						border-bottom: 1px solid $gray

			&-subscribe-product-block
				width: 49%
				background-color: $white
				overflow: hidden

				+borderRadiusBlock
				+openPopup

				&-text
					padding: 35px

					&__subtitle
						font-size: 24px
						margin-bottom: 10px

					&__title
						font-size: 42px

						& > span
							white-space: nowrap

					&__pricedesc
						font-size: 21px
						margin-top: 10px
						color: $gray

					&-list
						margin-top: 25px

						&__item
							display: flex
							align-items: flex-start

							color: $mainColor
							font-size: 21px
							margin-bottom: 8px

							&:last-child
								margin-bottom: 0

							& > svg
								width: 17px
								min-width: 17px

								margin-top: 9px
								margin-right: 10px

							& > p > img
								vertical-align: middle

								user-select: none
								pointer-events: none

								margin-left: 2px
								transform: translateY(-2px)

								width: 22px

				&-image
					padding-bottom: 35px

					&__image
						user-select: none
						pointer-events: none

						width: 100%

			&-buy-product-block
				position: relative

				width: 49%

				background-color: $white

				+borderRadiusBlock
				+openPopup

				&-loader
					padding: 50px

				&-text
					padding: 35px

					+openPopup

					&__subprice
						font-size: 24px
						margin-bottom: 10px

						& > span
							font-size: 21px
							color: $gray

					&-price
						display: flex
						align-items: flex-end

						&__title
							font-size: 54px

							& > span
								font-size: 32px
								text-decoration: line-through
								margin-left: 15px
								color: $gray

						&__sale
							display: flex
							justify-content: center
							align-items: center

							position: absolute
							right: 20px
							top: 20px

							width: 70px
							height: 70px

							font-size: 21px
							color: $white
							background-color: $mainColor
							border-radius: 50%

					&-list
						margin-top: 25px

						&__item
							display: flex
							align-items: flex-start

							color: $mainColor
							font-size: 21px
							margin-bottom: 8px

							&:last-child
								margin-bottom: 0

							& > svg
								width: 17px
								min-width: 17px

								margin-top: 9px
								margin-right: 10px

							& > p > img
								vertical-align: middle

								user-select: none
								pointer-events: none

								margin-left: 2px
								transform: translateY(-2px)

								width: 22px

					&__btn
						margin-top: 25px
						width: 100%

					&__image
						margin-top: 35px

						user-select: none
						pointer-events: none

						width: 100%

						+borderRadiusBlock

	&-passing
		margin: 75px 0

		&__title
			margin-bottom: 100px

		&__img
			pointer-events: none
			user-select: none

			width: 100%

	&-tools
		margin: 75px 0

		&-wrapper
			display: flex
			justify-content: space-between
			align-items: flex-start

		&__title
			width: 35%

		&-items-wrapper
			width: 60%

		&__item
			position: relative

			font-size: 24px

			padding-bottom: 25px
			border-bottom: 1px solid $borderGray
			margin-bottom: 20px

			& > a
				color: $mainColor
				border-bottom: 1px solid $mainColor

			& > span
				font-size: 21px

			// &::before
			// 	content: ""
			// 	position: absolute

			// 	width: 6px
			// 	height: 6px

			// 	display: block

			// 	background-color: $black

			// 	left: 0
			// 	top: 13px

			// 	border-radius: 50%

	&-master
		margin: 75px 0

		&-wrapper
			display: flex
			align-items: center
			flex-direction: column
			text-align: center

		&-title
			display: flex
			align-items: center

			&:hover &-avatar
				+transformScaleHover

			& > span
				font-size: 62px

				+PtSerif

			&-avatar
				margin: 0 20px

				width: 150px
				height: 150px

				will-change: transform

				border-radius: 50%

				+backgroundSetting
				+transition

		&-description
			margin-top: 35px

			width: 85%

			&__text
				font-size: 32px

		&-works
			margin-top: 50px

			width: 100%

			&__title
				font-size: 32px
				text-align: center
				margin-bottom: 25px

			&-modal
				position: fixed

				z-index: 100

				top: 0
				left: 0

				width: 100%
				height: 100vh

				display: flex
				justify-content: center
				align-items: center

				background-color: $blackTransparency

				+openAnimation

				&.close
					+closeAnimation

				&-close
					position: absolute
					cursor: pointer

					will-change: transform

					top: 25px
					right: 25px

					width: 60px
					height: 60px

					+transition

					&:hover
						transform: scale(0.98)

					&:active
						+transformScale

				&-video
					&-iframe
						width: 700px
						height: 90%

						overflow: hidden

						+borderRadiusBlock

						& > iframe
							+borderRadiusBlock

				&-image-content
					width: auto
					height: 95%

					overflow: hidden

					+borderRadiusBlock

					&__image
						width: 100%
						height: 100%

			&-items-wrapper
				display: flex
				justify-content: center
				flex-wrap: wrap

			&-item-image
				cursor: zoom-in

				width: calc( 100% / 4 - 10px )
				height: 450px

				margin: 5px

				will-change: transform

				+backgroundSetting
				+borderRadiusBlock

				+transition

				&:hover
					transform: scale(0.99)

				&:active
					+transformScale

			&-item-video
				cursor: pointer

				display: flex
				justify-content: center
				align-items: center

				overflow: hidden

				width: calc( 100% / 4 - 10px )
				height: 450px

				margin: 5px

				will-change: transform

				border-radius: 180px

				+backgroundSetting

				+transition

				&:hover
					transform: scale(0.99)

				&:active
					+transformScale

				&__btn
					cursor: pointer
					padding: 8px 14px 8px 8px

					display: flex
					justify-content: center
					align-items: center

					font-size: 17px

					color: $black

					border: none
					border-radius: 100px

					& > svg
						margin-right: 10px

		// &__title
		// 	text-align: center

		// &-section
		// 	&-about
		// 		display: flex
		// 		align-items: flex-start

		// 		padding: 35px
		// 		background-color: $backgroundGray

		// 		+borderRadiusBlock

		// 		&-img
		// 			margin-right: 50px

		// 			width: 300px
		// 			min-width: 300px

		// 			height: 300px

		// 			border-radius: 50%

		// 			+backgroundSetting

		// 		&-text
		// 			&__title
		// 				font-size: 42px
		// 				margin-bottom: 25px

		// 			&__description
		// 				width: 100%
		// 				margin-bottom: 25px

		// 			&-socials
		// 				display: flex
		// 				align-items: center

		// 				&__link
		// 					margin-right: 25px

		// 					will-change: transform

		// 					+transition

		// 					& > svg
		// 						width: 40px

		// 					&:hover
		// 						+transformScaleHover

		// 					&:active
		// 						+transformScaleClick

		// 					&:last-child
		// 						margin-right: 0

			// &-works
			// 	margin-top: 50px

			// 	&__title
			// 		font-size: 32px
			// 		text-align: center
			// 		margin-bottom: 50px

				// &-modal
				// 	position: fixed

				// 	z-index: 100

				// 	top: 0
				// 	left: 0

				// 	width: 100%
				// 	height: 100vh

				// 	display: flex
				// 	justify-content: center
				// 	align-items: center

				// 	background-color: $blackTransparency

				// 	+openAnimation

				// 	&.close
				// 		+closeAnimation

				// 	&-close
				// 		position: absolute
				// 		cursor: pointer

				// 		will-change: transform

				// 		top: 25px
				// 		right: 25px

				// 		width: 60px
				// 		height: 60px

				// 		+transition

				// 		&:hover
				// 			transform: scale(0.98)

				// 		&:active
				// 			+transformScale

				// 	&-video
				// 		&-iframe
				// 			width: 700px
				// 			height: 90%

				// 			overflow: hidden

				// 			+borderRadiusBlock

				// 			& > iframe
				// 				+borderRadiusBlock

				// 	&-image-content
				// 		width: auto
				// 		height: 95%

				// 		overflow: hidden

				// 		+borderRadiusBlock

				// 		&__image
				// 			width: 100%
				// 			height: 100%

			// 	&-slider
			// 		overflow: hidden
			// 		+borderRadiusBlock

			// 		& .slick-slide
			// 			padding: 0 10px

					// &-item-image
					// 	cursor: zoom-in

					// 	width: 100%
					// 	height: 450px

					// 	will-change: transform

					// 	+backgroundSetting
					// 	+borderRadiusBlock

					// 	+transition

					// 	&:hover
					// 		transform: scale(0.99)

					// 	&:active
					// 		+transformScale

					// &-item-video
					// 	cursor: pointer

					// 	display: flex
					// 	justify-content: center
					// 	align-items: center

					// 	overflow: hidden

					// 	width: 100%
					// 	height: 500px

					// 	will-change: transform

					// 	border-radius: 180px

					// 	+backgroundSetting

					// 	+transition

					// 	&:hover
					// 		transform: scale(0.99)

					// 	&:active
					// 		+transformScale

					// 	&__btn
					// 		cursor: pointer
					// 		padding: 8px 14px 8px 8px

					// 		display: flex
					// 		justify-content: center
					// 		align-items: center

					// 		font-size: 17px

					// 		color: $black

					// 		border: none
					// 		border-radius: 100px

					// 		& > svg
					// 			margin-right: 10px

	&-faq
		margin: 50px 0

		&-items-wrapper
			width: 100%

		&-item
			display: flex
			justify-content: space-between

			padding: 35px 35px 50px 35px

			background-color: $backgroundGray

			margin-bottom: 15px

			will-change: transform

			+borderRadiusBlock

			+transition

			&:hover
				+transformScaleHover

			&:last-child
				margin-bottom: 0

			&__title
				width: 35%

				font-size: 32px
				margin-bottom: 25px

			&__description
				width: 60%

				font-size: 24px
