// footer
.footer
	margin-top: 100px
	+openAnimation

	&-wrapper
		padding: 50px 0

		border-top: 1px solid $borderGray

	&-block
		&-top
			display: flex
			justify-content: space-between

			&-right
				display: flex

		&-bottom
			display: flex
			justify-content: space-between

			margin-top: 75px

			&__link
				margin-right: 25px
				color: $gray
				+transition

				&:hover
					color: $black

			&__span
				color: $gray

	&-logo
		&__img
			display: block
			user-select: none
			pointer-events: none
			width: 65px

	&-nav
		&__link
			display: block
			margin-bottom: 15px
			+transition

			&:last-child
				margin-right: 0

			&.active
				color: $mainColor

			&:hover
				color: $mainColor

	&-contact
		margin-right: 150px

	&__phone
		font-size: 24px

	&-social
		display: flex
		align-items: center

		margin-top: 50px

		&__link
			width: 50px
			height: 50px

			display: flex
			justify-content: center
			align-items: center

			background-color: rgba(221, 158, 94, 0.05)
			border-radius: 50%

			margin-right: 25px

			&:last-child
				margin-right: 0
