// header
.header
	margin: 35px 0
	+openAnimation

	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center

	&-logo
		&__img
			user-select: none
			width: 65px

	&-nav
		&__link
			margin-right: 35px
			+transition

			&:last-child
				margin-right: 0

			&.active
				color: $mainColor

			&:hover
				color: $mainColor

	&-left
		display: flex
		align-items: center

	&-login
		&__link
			display: inline-flex
			align-items: center

			color: $mainColor

			& svg
				margin-left: 15px
				+transition

			&:hover svg
				+rotate

	&-user
		display: flex
		align-items: center

		cursor: pointer

		&-avatar
			width: 50px
			height: 50px
			border-radius: 50%
			+backgroundSetting
			+transition

			&.active
				opacity: .5

		&-menu
			z-index: 10
			width: 250px
			position: absolute
			top: 75px
			right: 100px

			padding: 10px 0

			background-color: $white
			border-radius: 10px
			animation: openHeaderMenu .2s
			+boxShadow

			&__link
				user-select: none
				display: block
				padding: 15px 20px
				+transition

				&:hover
					background-color: #FAFAFA
					color: $black

				&.active
					color: $gray

			&.close
				animation: closeHeaderMenu .2s

	&-menu-button
		display: none
		margin-left: 25px

@keyframes openHeaderMenu
	0%
		opacity: 0
		transform: scale3d(.90, .90, .90)
	100%
		transform: scale3d(1, 1, 1)
		opacity: 1

@keyframes closeHeaderMenu
	0%
		transform: scale3d(1, 1, 1)
		opacity: 1
	100%
		opacity: 0
		transform: scale3d(.90, .90, .90)

// header-modal-menu
.header-modal-menu
	&-wrapper
		z-index: 10
		position: fixed

		top: 0
		left: 0

		width: 100%
		height: 100%

		background-color: rgba(0, 0, 0, 0.6)
		+openAnimation

		&.hidden
			+closeAnimation

	&-content
		overflow-y: scroll
		position: absolute

		bottom: 0
		left: 0

		width: 50%
		height: 100%

		padding: 50px

		background-color: $white

	&-close
		cursor: pointer
		position: absolute
		padding: 10px
		top: 25px
		right: 25px

		& svg
			width: 35px

	&-logo
		&__img
			user-select: none
			width: 75px

	&-nav
		margin-top: 100px

		&__link
			display: block
			font-size: 24px
			margin-bottom: 25px
			+transition

			&.active
				color: $mainColor

			&:hover
				color: $mainColor

		&-bottom
			margin-top: 50px
			padding-top: 50px
			border-top: 1px solid $borderGray

	&-social
		display: flex
		align-items: center

		margin-top: 100px

		&__link
			width: 50px
			height: 50px

			display: flex
			justify-content: center
			align-items: center

			background-color: rgba(221, 158, 94, 0.05)
			border-radius: 50%

			margin-right: 25px

			&:last-child
				margin-right: 0
