// magazine
.magazine
	margin: 75px 0
	+openAnimation

	&-filters
		&-categories
			max-width: 75%

			display: flex
			flex-wrap: wrap
			align-items: center

			margin-bottom: 100px

	&__btn
		white-space: nowrap
		display: inline-block
		border: none
		border: 1px solid $mainColor
		background-color: transparent
		padding: 10px 20px
		color: $mainColor
		cursor: pointer
		user-select: none
		font-size: 17px
		border-radius: 100px

		margin-right: 10px
		margin-bottom: 10px

		+GilroyRegular
		+transition
		+openAnimation

		&:hover
			background-color: $mainColor
			color: $white

		&.active
			background-color: $mainColor
			color: $white

	&-block
		&-big
			display: flex
			justify-content: space-between
			padding: 0 15px
			+openAnimation

			&-cover
				width: 45%
				min-height: 100%

				+backgroundSetting
				+borderRadius

			&-text
				width: 50%

				&-top
					display: flex
					align-items: center
					flex-wrap: wrap

					margin-bottom: 25px

					&__date
						font-size: 18px
						color: $gray

						margin-right: 50px
						margin-bottom: 20px

					&-views
						display: flex
						align-items: center

						margin-right: 50px
						margin-bottom: 20px

						& svg
							margin-right: 5px

						&__number
							font-size: 18px
							color: $gray

					&__category
						font-size: 18px
						color: $mainColor
						margin-bottom: 20px

				&__title
					font-size: 32px
					+Lora

				&__description
					font-size: 24px
					margin-top: 25px

					overflow: hidden
					display: -webkit-box
					-webkit-line-clamp: 3
					-webkit-box-orient: vertical

				&-auth
					margin-top: 50px
					display: flex
					align-items: center

					&-avatar
						margin-right: 15px
						width: 50px
						height: 50px
						border-radius: 50%
						+backgroundSetting

					&__name
						font-size: 18px

	&-block-wrapper
		margin-top: 100px

		display: flex
		flex-wrap: wrap

	&-block
		width: calc( 33% - 30px )

		margin: 0 15px

		padding-bottom: 50px
		margin-bottom: 50px

		display: flex
		flex-direction: column

		border-bottom: 1px solid $borderGray
		+openAnimation

		&-cover
			width: 100%
			min-height: 250px

			+backgroundSetting
			+borderRadius

		&-text
			margin-top: 25px

			&-top
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: 15px

				&__date
					font-size: 16px
					color: $gray

					margin-right: 25px
					margin-bottom: 10px

				&-views
					display: flex
					align-items: center

					margin-right: 25px
					margin-bottom: 10px

					& svg
						margin-right: 5px

					&__number
						font-size: 16px
						color: $gray

				&__category
					font-size: 16px
					color: $mainColor
					margin-bottom: 10px

			&__title
				font-size: 32px
				+Lora

			&__description
				font-size: 21px
				margin-top: 25px

				overflow: hidden
				display: -webkit-box
				-webkit-line-clamp: 3
				-webkit-box-orient: vertical

			&-auth
				margin-top: 50px
				display: flex
				align-items: center

				&-avatar
					margin-right: 15px
					width: 50px
					height: 50px
					border-radius: 50%
					+backgroundSetting

				&__name
					font-size: 18px

	&-not-found
		margin: 150px 0
		display: flex
		justify-content: center
		+openAnimation

		&__title
			font-size: 32px
			color: $gray

// magazine-post-page
.magazine-post-page
	+openAnimation
	&-wrapper
		margin: 25px auto
		max-width: 80%

	&-cover
		&-text
			padding: 25px 0

			&-top
				display: flex
				align-items: center
				flex-wrap: wrap

				margin-bottom: 25px

				&__date
					font-size: 18px
					color: $gray

					margin-right: 50px
					margin-bottom: 25px

				&-views
					margin-right: 50px
					display: flex
					align-items: center

					margin-bottom: 25px

					& svg
						margin-right: 5px

					&__number
						font-size: 18px
						color: $gray

				&__category
					margin-right: 50px
					font-size: 18px
					color: $mainColor

					margin-bottom: 25px

				&-auth
					display: flex
					align-items: center

					margin-bottom: 25px

					&-avatar
						margin-right: 15px
						width: 50px
						height: 50px
						border-radius: 50%
						+backgroundSetting

					&__name
						font-size: 18px

			&__title
				font-size: 36px

			&__description
				margin-top: 25px
				font-size: 24px

		&-img
			margin-top: 25px
			height: 500px

			+backgroundSetting
			+borderRadiusBlock

	&-block-wrapper
		margin-top: 100px

	&-block
		margin-bottom: 100px

		&-text
			&__title
				font-size: 36px
				margin-bottom: 50px

			&__description
				font-size: 21px
				margin-bottom: 25px

		&__img
			width: 100%
			height: 500px

			+backgroundSetting
			+borderRadiusBlock

	&-next
		margin-bottom: 50px
		display: flex
		justify-content: space-between
		align-items: center

		padding: 65px 50px
		background-color: $backgroundGray
		+borderRadiusBlock
		+transition

		&:hover
			transform: scale(1.03)

		&-text
			max-width: 50%

			&__title
				font-size: 32px
