// main
.main
	margin: 25px 0 50px 0

	+openAnimation

	&__btn
		display: block

		position: fixed
		z-index: -1

		bottom: 20px
		right: 20px

		min-width: 220px

		opacity: 0

		+boxShadow
		+transition

		&.visible
			opacity: 1
			z-index: 15

	&-text
		position: relative
		margin: 0 auto

		&__title
			font-size: 64px
			margin-bottom: 50px

		&__btn
			width: 325px

		&__image
			position: absolute

			width: 1000px

			bottom: -115px
			right: 60px

			transform: rotate(-5deg)

	&-image
		margin-top: 50px

		width: 100%

		&__image
			width: 100%

			+borderRadiusBlock

	&-categories
		width: 95%

		display: flex
		justify-content: space-between

		text-align: center

		&-image
			width: 45%
			height: 700px

			+backgroundSetting
			+borderRadiusBlock

		&-text
			&__title
				font-size: 54px
				margin-bottom: 25px

			&-items-wrapper
				display: flex
				flex-wrap: wrap

			&__item
				display: inline-block

				margin: 10px

				font-size: 36px

				color: $mainColor

				border: 2px solid $mainColor
				padding: 15px 20px
				border-radius: 100px

				will-change: transform

				+transition

				&:active
					+transformScale

				&:hover
					background-color: $mainColor
					color: $white

// media
@media screen and ( max-width: 1200px )
	.main
		&-text
			&__title
				font-size: 54px
				margin-bottom: 25px

			&__image
				width: 700px
				bottom: -75px

		&-categories
			&-text
				&__item
					font-size: 28px

@media screen and ( max-width: 900px )
	.main
		&-text
			&__title
				font-size: 42px

			&__image
				width: 400px

				bottom: -175px

				right: 50%

				transform: rotate(-3deg) translateX(50%)

		&-categories
			&-text
				&__item
					margin: 5px
					padding: 12px 15px

					font-size: 24px
					border: 1.5px solid $mainColor

@media screen and ( max-width: 600px )
	.main
		margin: 25px 0 125px 0

		&__btn
			padding: 15px

			font-size: 15px

			right: 10px
			bottom: 10px

		&-text
			&__title
				font-size: 24px
				margin-bottom: 15px

			&__image
				top: calc( 100% + 25px )

				transform: rotate(-3deg) translateX(40%)

				width: 75%

		&-categories
			&-text
				&-items-wrapper
				&__item
					margin: 3px

					font-size: 16px
					padding: 10px