// main
.main
<<<<<<< HEAD
	margin: 25px 0 50px 0

=======
	margin-top: 25px
	position: relative
>>>>>>> b859d6b516abb382567162db483d6d3f7f4b6de8
	+openAnimation

	&-wrapper
		display: flex
		justify-content: space-between

	&-text
<<<<<<< HEAD
		width: 70%

		&__title
			font-size: 60px
			margin-bottom: 25px

			& > a
				white-space: nowrap

				color: $mainColor
				text-decoration: underline

				+SfRegular

		&-categories
			display: flex
			flex-wrap: wrap

			margin-top: 50px

			&__item
				margin-bottom: 10px
				margin-right: 10px

				font-size: 24px

				color: $mainColor

				border: 1px solid $mainColor
				padding: 15px 20px
				border-radius: 100px

				+transition

				&:active
					+transformScale

				&:hover
					background-color: $mainColor
					color: $white

	&-video
		width: 25%
		height: 100%

		border-radius: 50%
		overflow: hidden

		& video
			border-radius: 50%
=======
		width: 50%
		margin-top: 50px

		&__title
			font-size: 78px
			margin-bottom: 25px

		&__description
			display: block
			font-size: 24px

		&__btn
			width: 75%
			margin-top: 75px

	&-video
		position: relative
		width: 40%

		& svg
			width: 100%
			position: absolute

			bottom: 50px
			left: 0

		&__video
			width: 100%

			mask-image: url("data:image/svg+xml,%3Csvg width='903' height='807' viewBox='0 0 903 807' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M670.664 14.4947C755.317 31.8855 864.113 50.9711 895.769 128.089C929.361 209.926 818.368 287.933 818.995 375.855C819.548 453.519 917.779 515.317 899.067 590.891C880.4 666.283 798.312 711.642 726.841 748.048C656.169 784.047 570.018 826.9 496.866 795.765C421.149 763.539 337.738 681.22 268.518 637.621C192.104 589.491 35.9888 672.944 4.10303 590.891C-27.9055 508.522 136.787 469.683 171.667 388.389C196.866 329.659 13.0842 198.868 43 142.2C75.5183 80.6027 302.103 32.8025 381.103 14.4947C478.103 -7.98441 593.291 -1.40035 670.664 14.4947Z' fill='white'/%3E%3C/svg%3E")

			mask-size: contain
			mask-repeat: no-repeat
			mask-position: center
>>>>>>> b859d6b516abb382567162db483d6d3f7f4b6de8
