// master
.master
	margin-top: 100px
	margin-bottom: 150px

	&-cart-info
		display: flex
		align-items: center

		padding-bottom: 50px
		border-bottom: 1px solid $borderGray

		&-avatar
			width: 200px
			height: 200px

			border-radius: 50%

			+backgroundSetting

		&-text
			max-width: 50%
			margin-left: 100px

			&-title
				display: flex
				align-items: center

				&-social
					display: flex
					align-items: center

					margin-left: 35px
					margin-top: 10px

					&__link
						width: 50px
						height: 50px

						display: flex
						justify-content: center
						align-items: center

						background-color: rgba(221, 158, 94, 0.05)
						border-radius: 50%

						margin-right: 25px

			&__description
				margin-top: 25px
				font-size: 24px

			&-specialty
				margin-top: 50px

				&__subspan
					margin-right: 10px
					font-size: 18px
					color: $gray

				&__specialty
					font-size: 24px

	&-course
		margin-top: 100px

		&-block-wrapper
			display: flex
			flex-wrap: wrap

	&-magazine
		margin-top: 100px

// master-section
.master-section
	position: relative
	margin-top: 200px
	margin-bottom: 200px

	&-text
		width: 75%

		&__btn
			margin-top: 75px

	&-statistics
		margin-top: 100px

		display: flex
		flex-wrap: wrap

		&-item
			width: 30%
			padding-bottom: 25px
			border-bottom: 1px solid $borderGray
			margin-right: 50px

			&__title
				font-size: 54px

			&__subtitle
				display: block
				margin-top: 10px
				font-size: 18px

	&-circle
		width: 550px
		height: 550px
		right: 50px
		top: -50px
