// master
.master-card
	margin-top: 100px
	margin-bottom: 150px
	+openAnimation

	&-info
		display: flex
		align-items: center

		padding-bottom: 50px
		border-bottom: 1px solid $borderGray
		+openAnimation

		&-avatar
			width: 200px
			height: 200px

			border-radius: 50%

			+backgroundSetting

		&-text
			max-width: 75%
			margin-left: 100px

			&-title
				display: flex
				align-items: center

				&-social
					display: flex
					align-items: center

					margin-left: 35px
					margin-top: 10px

					&__link
						width: 50px
						height: 50px

						display: flex
						justify-content: center
						align-items: center

						background-color: rgba(221, 158, 94, 0.05)
						border-radius: 50%

						margin-right: 25px

			&__description
				margin-top: 25px
				font-size: 24px

			&-specialty
				margin-top: 50px

				&__subspan
					margin-right: 10px
					font-size: 18px
					color: $gray

				&__specialty
					font-size: 24px

	&-course
		margin-top: 100px

		&-block-wrapper
			display: flex
			flex-wrap: wrap

	&-magazine
		margin-top: 100px

// master-section
.master-section
	position: relative
	margin: 200px 0

	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center

	&-text
		width: 75%

		&__btn
			margin-top: 75px

	&-statistics
		margin-top: 100px

		display: flex
		flex-wrap: wrap

		&-item
			width: 30%
			padding-bottom: 25px
			border-bottom: 1px solid $borderGray
			margin-right: 50px

			&__title
				font-size: 54px

			&__subtitle
				display: block
				margin-top: 10px
				font-size: 18px

	&__img
		width: 250px
		user-select: none
		pointer-events: none

	&-circle
		width: 550px
		height: 550px
		right: 50px
		top: -50px

// masters-about
.masters-about
	margin: 100px 0
	+openAnimation

	&__btn
		position: fixed

		bottom: 30px
		right: 30px

		min-width: 300px

		opacity: 0
		+transition

		&.active
			opacity: 1

	&-left
		width: 40%

	&-right
		width: 50%

	&-main
		display: flex
		justify-content: space-between

	&-statistics
		margin-top: 100px

		display: flex
		flex-wrap: wrap

		&-item
			width: 40%
			padding-bottom: 25px
			border-bottom: 1px solid $borderGray
			margin-right: 50px

			&__title
				font-size: 54px

			&__subtitle
				display: block
				margin-top: 10px
				font-size: 18px

	&-services
		margin: 100px 0

		&-items-wrapper
			margin-top: 150px

		&-item
			display: flex

			padding-bottom: 75px
			margin-bottom: 100px

			border-bottom: 1px solid $borderGray

			&__img
				width: 100px
				height: 100px

				margin-right: 100px

				pointer-events: none
				user-select: none

			&-text
				width: 75%

				&__title
					font-size: 32px
					margin-bottom: 25px

				&__description
					max-width: 80%
					font-size: 21px

	&-faq
		&-tab
			cursor: pointer

			margin-bottom: 50px
			padding-bottom: 50px
			border-bottom: 1px solid $borderGray

			&-top
				display: flex
				justify-content: space-between
				align-items: center

				&__title
					font-size: 28px
					width: 75%
					user-select: none

				&-svg
					+transition

					&.active
						transform: rotate(-45deg)

			&-bottom
				margin-top: 50px
				width: 75%

	&-bottom
		margin: 150px 0
		display: flex
		justify-content: space-between

		&-left
			width: 50%

		&-right
			width: 40%

// master
.master
	margin: 100px 0
	+openAnimation

	&-text
		&__title
			margin-bottom: 25px

		&__description
			font-size: 21px
			color: $gray

	&-info
		margin: 100px 0

		display: flex
		justify-content: space-between
		align-items: flex-start

		&-list-courses
			width: 60%

			&-col
				width: 50%

			&-subinfo
				display: flex
				justify-content: space-between
				align-items: center

				padding-bottom: 25px
				margin-bottom: 25px
				border-bottom: 1px solid $borderGray

				&__title
					color: $gray

			&-item
				display: flex
				justify-content: space-between
				align-items: center

				padding-bottom: 25px
				margin-bottom: 25px
				border-bottom: 1px solid $borderGray

				&-course
					display: flex
					align-items: center

					&-image
						width: 50px
						height: 50px
						border-radius: 50%
						+backgroundSetting

					&__title
						font-size: 18px
						margin-left: 15px

				&-count
					&__title
						font-size: 18px

		&-balance
			width: 35%
			padding: 35px
			+borderRadius
			+boxShadow

			&__title
				font-size: 42px
				margin-bottom: 50px

			&__subtitle
				color: $gray
				font-size: 21px
				margin-bottom: 25px

			&__btn
				width: 100%
