// media
@media screen and ( max-width: 1400px )
	// shop
	.shop
		&-block
			width: 33.3333%

@media screen and ( max-width: 1300px )
	// main
	.main
		&-wrapper
			flex-direction: column
			align-items: flex-start
			justify-content: center

		&-text
			width: 75%
			&__title
				font-size: 54px

		&-special-offer-shop-block
			margin-top: 75px
			width: 75%

@media screen and ( max-width: 1200px )
	// header
	.header
		&-nav
			display: none

			&-cart__link
				display: none

		&-menu-button
			display: block

		&-user-menu
			display: none

	// magazine
	.magazine
		&-block
			width: calc( 50% - 30px )

	// training
	.training
		&-null
			&-text
				width: 100%

			&-img
				display: none

	// passing
	.passing
		&-lesson-info
			flex-direction: column

			&-block
				&-text, &-materials, &-timecodes, &-pro, &-middle, &-buy-extra-lessons
					width: 100%

				&-middle
					height: 100px

				&-materials, &-timecodes
					margin-top: 50px

		&-certificate
			width: 100%

	// payment
	.payment
		padding: 50px 0

		&-wrapper
			flex-direction: column

		&-form
			margin-bottom: 50px
			width: 100%

		&-info
			width: 100%

@media screen and ( max-width: 1100px )
	// circle
	.circle
		display: none

	// shop
	.shop
		&-btn-wrapper
			max-width: 100%

		&-block
			width: 50%

	// categories
	.categories
		&-item
			margin: 0
			width: 100%

	// about-section
	.about-section
		&-wrapper
			flex-direction: column

		&-right
			width: 75%
			margin-top: 50px

	// master-section
	.master-section
		&-text
			width: 75%

		&-right
			display: none

	// magazine-post-page
	.magazine-post-page
		&-wrapper
			max-width: 100%

	// pro
	.pro
		&-main
			&-text
				max-width: 75%

			&__img
				width: 200px
				height: 200px

	// masters-about
	.masters-about
		&-main
			flex-direction: column

		&-left
			width: 100%

		&-right
			width: 100%
			margin-top: 50px

		&-bottom
			flex-direction: column

			&-left
				width: 100%

			&-right
				width: 100%
				margin-top: 50px

	// cabinet
	.cabinet
		&-block
			flex-direction: column

			&-text
				width: 100%

			&-form
				margin-top: 75px
				width: 100%

	// referrals
	.referrals
		&-top
			&-img
				&__img
					display: none

			&-text
				width: 100%

		&-info
			&-block-wrapper
				flex-direction: column

			&-block-link
				width: 100%

			&-block-balance
				width: 100%
				margin-top: 25px

	// master
	.master
		&-card
			margin-top: 50px

			&-info
				flex-direction: column

				&-text
					margin: 50px 0 0 0
					text-align: center
					max-width: 100%

					&-title
						flex-direction: column

						&-social
							margin: 25px 0

					&-specialty
						&__specialty
							font-size: 18px
	// err404
	.err404
		&-wrapper
			flex-direction: column

		&-text
			text-align: center
			margin-top: 50px
			order: 2

		&__img
			width: 150px
			order: 1

	// email
	.email-confirmed
		&-text
			max-width: 100%

		&-img
			display: none

	// footer
	.footer
		&-nav
			display: none

		&-contact
			margin: 0

@media screen and ( max-width: 1000px )
	// pro
	.pro
		&-main
			&-text
				max-width: 100%

			&__img
				display: none

@media screen and ( max-width: 900px )
	// shop
	.shop
		&-filters
			flex-direction: column

			&-col
				width: 100%
				margin-bottom: 25px
				padding-bottom: 25px

		&-btn-wrapper
			flex-wrap: nowrap
			overflow-y: scroll

		&-block-wrapper
			margin-top: 50px

	// magazine
	.magazine
		&-filters-categories
			max-width: 100%
			flex-wrap: nowrap
			overflow-y: scroll
			margin-bottom: 50px

		&-block-wrapper
			margin-top: 50px

		&-block
			width: 100%
			margin: 0 0 50px 0

			&-cover
				height: 350px

	// magazine-post-page
	.magazine-post-page
		&-next
			&-text
				max-width: 100%

			&-arrow
				display: none

	// cart
	.cart
		&-block
			position: relative
			flex-direction: column
			align-items: flex-start

			&-content
				flex-direction: column

				&-cover
					display: none

				&-cover-media
					display: block
					width: 100%
					height: 250px
					+backgroundSetting
					+borderRadius

				&-text
					margin: 25px 0 0 0

			&-close
				position: absolute

				top: 15px
				right: 15px

				width: 50px
				height: 50px

				display: flex
				justify-content: center
				align-items: center

				background-color: $white
				border-radius: 50%
				+boxShadow

				& > svg
					width: 35px
					height: 35px
					stroke: $red

	// pro
	.pro
		&-about-item
			flex-direction: column

			margin-bottom: 50px
			padding-bottom: 50px

			&-text
				width: 100%
				margin-top: 50px

				&__description
					max-width: 100%

	// about
	.about-section
		&-right
			width: 100%

	.about
		&-services-items-wrapper
			margin-top: 100px

		&-services-item
			flex-direction: column

			margin-bottom: 50px
			padding-bottom: 50px

			&-text
				width: 100%
				margin-top: 50px

				&__description
					max-width: 100%

	// masters-about
	.masters-about
		&-services-items-wrapper
			margin-top: 100px

		&-services-item
			flex-direction: column

			margin-bottom: 50px
			padding-bottom: 50px

			&-text
				width: 100%
				margin-top: 50px

				&__description
					max-width: 100%

		&-faq-tab
			&-bottom
				width: 100%

	// cabinet
	.cabinet
		&-card-user-info
			flex-direction: column
			text-align: center

			&-text
				margin: 50px 0 0 0

	// training
	.training
		margin: 75px 0

		&-block
			flex-direction: column

			&-cover
				width: 100%
				height: 300px

				&-placeholder
					background-color: $blackTransparency

				&-icon
					opacity: 1
					transform: translate(-50%, -50%) scale3d(1, 1, 1)

			&-text
				margin: 25px 0 0 0

				&__title
					font-size: 28px

				&-bottom
					margin-top: 50px

	// passing
	.passing
		margin: 75px 0

		&-top
			flex-direction: column

			&-text
				order: 2

			&-next
				order: 1
				width: 100%
				margin-bottom: 25px
				padding-bottom: 25px
				border-bottom: 1px solid $borderGray

		&-lessons-list-item
			min-width: 150px

			&-cover
				height: 100px

@media screen and ( max-width: 820px )
	// main
	.main
		&-text
			width: 100%

@media screen and ( max-width: 800px )
	// interface
	.title, .title__mb
		font-size: 38px

	// header
	.header
		&-modal-menu
			&-content
				width: 75%

	// categories
	.categories
		&-item
			&__title
				font-size: 24px

	// referrals
	.referrals
		&-partners
			&-subinfo, &-item
				flex-direction: column
				border: none
				padding: 35px
				background-color: $white
				+boxShadow

			&-col
				display: flex
				justify-content: center
				margin-bottom: 25px
				width: 100%

				&:last-child
					margin-bottom: 0

	// master
	.master
		&-info
			flex-direction: column
			margin: 50px 0

			&-balance
				width: 100%
				order: 1

			&-list-courses
				margin-top: 50px
				width: 100%
				order: 2

				&-subinfo, &-item
					flex-direction: column
					border: none
					padding: 35px
					background-color: $white
					+boxShadow

				&-col
					display: flex
					justify-content: center
					margin-bottom: 25px
					width: 100%

					&:last-child
						margin-bottom: 0

@media screen and ( max-width: 750px )
	// footer
	.footer
		&-block
			&-top
				flex-direction: column
				align-items: center

				&-left
					display: flex
					align-items: center

		&-contact
			margin-top: 75px

			display: flex
			flex-direction: column
			align-items: center

		&-social
			margin-top: 25px

	// nagibinstudio
	.nagibinstudio
		margin-top: 0
		margin-left: 50px

@media screen and ( max-width: 700px )
	// main
	.main
		&-special-offer-shop
			&-block
				width: 100%

				&-left
					&-cover
						width: 100px
						height: 100px

	// shop
	.shop
		&-block
			padding: 0
			width: 100%

			&:last-child
				margin-bottom: 0

			&-top
				&-cover
					height: 250px

	// about-section
	.about-section
		&-right
			width: 100%

	// master-section
	.master-section
		&-text
			width: 100%

		&-statistics
			&-item
				width: calc(50% - 50px)

	// reglog
	.reglog
		&-block
			width: 95%

@media screen and ( max-width: 650px )
	// interface
	.title, .title__mb
		font-size: 32px

@media screen and ( max-width: 600px )
	// main
	.main
		&-text
			&__title
				font-size: 38px

	// cart
	.cart
		&-total
			flex-direction: column

			&__subtitle, &__title
				font-size: 24px

			&__btn
				margin-top: 25px

	// reglog
	.reglog
		&-block
			&__title
				font-size: 24px

	// magazine-post-page
	.magazine-post-page
		&-cover
			&-text
				&__title
					font-size: 28px

				&__description
					font-size: 21px

		&-next
			padding: 25px
			&-text
				&__title
					font-size: 24px

	// pro
	.pro
		margin: 75px 0

		&-main
			&-text
				&__title
					font-size: 28px

				&__btn
					width: 100%

	// about
	.about
		&-services-item
			&-text
				&__title
					font-size: 24px

				&__description
					font-size: 21px

	// masters-about
	.masters-about
		&-services-item
			&-text
				&__title
					font-size: 24px

				&__description
					font-size: 21px

		&-faq-tab
			&-top
				&__title
					font-size: 21px

	// payment
	.payment
		&-info
			padding: 35px

	// footer
	.footer
		&-block
			&-bottom
				flex-direction: column
				align-items: center

				&-right
					margin-top: 15px
					text-align: center

				&__link
					display: block
					margin: 10px 0 0 0

@media screen and ( max-width: 500px )
	// interface
	.title, .title__mb
		font-size: 32px

	.title__mb
		margin-bottom: 50px

	.description, .description__mt, .description__mb
		font-size: 21px

	.btn-arrow
		font-size: 21px

	// header
	.header
		&-modal-menu
			&-content
				width: 100%

	// main
	.main
		margin: 50px 0

		&-text
			&__title
				font-size: 32px

		&-special-offer-shop
			&-block
				padding: 35px
				flex-direction: column
				+boxShadow
				+borderRadius

				&-right
					margin: 25px 0 0 0
					text-align: center

	// categories
	.categories
		margin: 75px 0

	// about-section
	.about-section
		margin: 75px 0

		&-statistics
			margin-top: 75px
			&-item
				width: 100%
				text-align: center
				margin: 0 0 25px 0

	// master-section
	.master-section
		margin: 75px 0

		&-statistics
			margin-top: 75px

			&-item
				width: 100%
				text-align: center
				margin: 0 0 25px 0

	// masters-about
	.masters-about
		&-statistics
			margin-top: 75px

			&-item
				text-align: center
				width: 100%
				margin: 0 0 25px 0

		&__btn
			min-width: 200px

	// shop-section
	.shop-section
		&-btn
			margin-top: 75px

	// cart
	.cart
		&-block
			&-content
				&-text
					&__title
						font-size: 28px

		&-empty__title
			font-size: 24px

	// reglog
	.reglog
		&-block
			width: 100%
			padding: 35px

	// shop
	.shop
		&-top
			&-filters
				&__title
					font-size: 21px

	// magazine
	.magazine
		&-block
			&-cover
				height: 200px

			&-text
				&__title
					font-size: 28px

	// cabinet
	.cabinet
		&-card-user-info
			&-avatar
				width: 125px
				height: 125px

			&-text
				margin: 25px 0 0 0

				&__name
					font-size: 28px

					& span
						font-size: 28px

		&-block
			&-text
				&__title
					font-size: 32px

				&__subtitle
					font-size: 18px

			&-pro
				&-info
					&-item
						&__title
							font-size: 18px

						&__description
							font-size: 16px

	// referrals
	.referrals
		&-info-block-link
			&__title
				font-size: 21px

			&__subtitle
				font-size: 18px

	// payment
	.payment
		&-info
			&__title
				font-size: 28px

    // passing
	.passing
		&-lesson-info
			&-block
				&-pro
					padding: 25px

					&__title
						font-size: 24px

					&__description
						font-size: 18px

					&-list
						margin: 0

						&__item
							font-size: 18px

				&-buy-extra-lessons
					padding: 25px

					&__title
						font-size: 24px

		&-certificate
			padding: 25px
			&__title
				font-size: 24px

	// footer
	.footer
		&-block
			&-top
				&-left
					flex-direction: column

	// nagibinstudio
	.nagibinstudio
		margin-left: 0
		margin-top: 50px

@media screen and ( max-width: 400px )
	// interface
	.title, .title__mb
		font-size: 28px

	.btn-arrow
		font-size: 18px

	// header
	.header
		&-modal-menu
			&-content
				padding: 25px

	// main
	.main
		&-text
			&__title
				font-size: 28px
