// media
@media screen and ( max-width: 1400px )
	// shop
	.shop
		&-block
			width: 33%

			&-top
				&-cover
					height: 250px

	// main
	.main
		&-text
			width: 50%

			&__title
				font-size: 54px

		&-special-offer-shop-block
			width: 40%

@media screen and ( max-width: 1200px )
	// main
	.main
		&-wrapper
			align-items: flex-start
			flex-direction: column

		&-text
			width: 75%

		&-special-offer-shop-block
			margin-top: 109px
			width: 50%
