// mixin

// fonts
@mixin Lora
	font-family: 'Lora', serif

@mixin GilroyRegular
	font-family: "Gilroy Regular", serif

// animate
@mixin transition
	transition: .3s ease

@mixin rotate
	transform: rotate(-20deg)

// background
@mixin backgroundSetting
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

@mixin borderRadius
	border-radius: 4px

// box-shadow
@mixin boxShadow
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05)

// animations
@mixin openAnimation
	animation: open .5s

@mixin closeAnimation
	animation: close .5s
