// passing
.passing
	margin: 75px 0
	+openAnimation

	&-top
		display: flex
		align-items: flex-start
		justify-content: space-between

		&-text
			&__title
				font-size: 42px

	&-video
		margin-top: 50px

		// overflow: hidden

		+openAnimation
		// +borderRadiusBlock

		&__title
			user-select: none
			position: absolute
			color: $gray

	&-cover
		margin-top: 50px

		position: relative
		overflow: hidden

		height: 600px
		width: 100%
		+openAnimation
		+borderRadiusBlock

		&-icon
			position: absolute

			z-index: 2

			top: 50%
			left: 50%

			transform: translate(-50%, -50%)

		&-plaecholder
			position: absolute

			top: 0
			left: 0

			width: 100%
			height: 100%

			background-color: $blackTransparency

		&-img
			height: 100%
			width: 100%

			+backgroundSetting

	&-lessons-list
		display: flex
		justify-content: space-between

		margin-top: 25px
		margin-bottom: 75px

		padding-bottom: 25px

		border-bottom: 1px solid $borderGray
		overflow-y: auto

		&-block
			width: 45%

			&.long
				width: 100%

			&__subtitle
				margin-bottom: 15px

			&-items-wrapper
				display: flex

				overflow-y: auto
				padding-bottom: 15px
				width: 100%

				&::-webkit-scrollbar
					width: 4px
					height: 7px
					background-color: #F0F0F0

				&::-webkit-scrollbar-thumb
					background-color: #E2E2E2
					border-radius: 3px

				&::-webkit-scrollbar-thumb:hover
					background-color: #E2E2E2

				&::-ms-scrollbar
					width: 4px
					height: 8px
					background-color: #F0F0F0

				&::-ms-scrollbar-thumb
					background-color: #E2E2E2
					border-radius: 3px

				&::-ms-scrollbar-thumb:hover
					background-color: #E2E2E2

			&-item
				display: block
				width: 200px
				min-width: 200px
				margin-right: 25px

				opacity: 0.3
				user-select: none

				+transition

				&:last-child
					margin-right: 0

				&-cover
					position: relative
					width: 100%
					height: 125px

					&-img
						width: 100%
						height: 100%

						user-select: none

						+borderRadius
						+backgroundSetting

				&__title
					margin-top: 10px
					overflow: hidden
					text-overflow: ellipsis
					white-space: nowrap

				&.active
					opacity: 1
					user-select: auto

	&-lesson
		&-info
			display: flex
			justify-content: space-between
			align-items: flex-start

			&-block
				&-text
					width: 45%

					&__title
						font-size: 32px
						margin-bottom: 35px

					&__description
						font-size: 21px

				&-materials
					width: 20%

					&__title
						font-size: 24px
						margin-bottom: 25px

					&-items-wrapper
						max-height: 250px
						overflow-y: auto

						&::-webkit-scrollbar
							width: 4px
							height: 7px
							background-color: #F0F0F0

						&::-webkit-scrollbar-thumb
							background-color: #E2E2E2
							border-radius: 3px

						&::-webkit-scrollbar-thumb:hover
							background-color: #E2E2E2

						&::-ms-scrollbar
							width: 4px
							height: 8px
							background-color: #F0F0F0

						&::-ms-scrollbar-thumb
							background-color: #E2E2E2
							border-radius: 3px

						&::-ms-scrollbar-thumb:hover
							background-color: #E2E2E2

					&-item-wrapper
						display: flex
						justify-content: space-between
						align-items: center

						margin-bottom: 15px
						padding-bottom: 15px

						border-bottom: 1px solid $borderGray

						&:last-child
							margin-bottom: 0

					&-item
						width: 75%
						cursor: pointer
						display: flex
						align-items: center

						&:last-child
							border: none
							padding-bottom: 0

						&-icon
							display: flex
							align-items: center

							& svg
								fill: $mainColor

						&__title
							margin-left: 10px
							color: $mainColor

							overflow: hidden
							text-overflow: ellipsis
							white-space: nowrap

				&-timecodes
					width: 25%

					&__title
						font-size: 24px
						margin-bottom: 25px

					&-items-wrapper
						max-height: 250px
						overflow-y: auto

						&::-webkit-scrollbar
							width: 4px
							height: 7px
							background-color: #F0F0F0

						&::-webkit-scrollbar-thumb
							background-color: #E2E2E2
							border-radius: 3px

						&::-webkit-scrollbar-thumb:hover
							background-color: #E2E2E2

						&::-ms-scrollbar
							width: 4px
							height: 8px
							background-color: #F0F0F0

						&::-ms-scrollbar-thumb
							background-color: #E2E2E2
							border-radius: 3px

						&::-ms-scrollbar-thumb:hover
							background-color: #E2E2E2

					&-item
						display: flex
						align-items: center
						margin-bottom: 15px

						&:last-child
							margin-bottom: 0

						&__title
							& span
								cursor: pointer
								color: $mainColor

					&.long
						width: 40%

				&-pro
					width: 45%
					padding: 35px
					+borderRadiusBlock
					+boxShadow

					&__title
						font-size: 28px
						margin-bottom: 25px

					&__description
						font-size: 21px
						margin-bottom: 35px

					&-list
						list-style: none
						margin-left: 25px

						&__item
							font-size: 21px
							margin-bottom: 10px

					&__btn
						margin-top: 50px
						width: 75%

				&-middle
					display: flex
					justify-content: center
					align-items: center
					height: 250px

				&-buy-extra-lessons
					width: 35%
					padding: 35px
					+borderRadius
					+boxShadow

					&__title
						font-size: 28px

					&__btn
						margin-top: 50px
						width: 75%

	&-bottom-block
		display: flex
		justify-content: space-between
		align-items: flex-start

	&-certificate
		margin-top: 100px
		width: 45%

		padding: 35px
		+borderRadiusBlock
		+boxShadow

		&__subtitle
			margin-bottom: 10px

		&__title
			font-size: 28px
			margin-bottom: 50px

	&-hashtag
		margin-top: 100px
		width: 50%

		padding: 35px
		+borderRadiusBlock
		+boxShadow

		&__description
			font-size: 21px

			& > a
				color: $mainColor

		&__title
			font-size: 28px
			margin-bottom: 50px

	&-pro
		margin-top: 100px
		width: 45%

		padding: 35px
		+borderRadiusBlock
		+boxShadow

		&__title
			font-size: 28px
			margin-bottom: 25px

		&__description
			font-size: 21px
			margin-bottom: 35px

		&-list
			list-style: none
			margin-left: 25px

			&__item
				font-size: 21px
				margin-bottom: 10px

		&__btn
			margin-top: 50px
			width: 75%

	&-chat
		margin-top: 100px
		width: 50%

		padding: 35px
		+borderRadiusBlock
		+boxShadow

		&__title
			font-size: 28px
			margin-bottom: 25px

		&__description
			font-size: 21px

		&__btn
			margin-top: 50px
			width: 75%
