// payment
.payment
	display: flex
	flex-direction: column
	justify-content: center

	min-height: 100vh
	padding: 75px 0
	background-color: $backgroundGray

	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap

	&-login-wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

	&-progressbar
		margin-bottom: 50px

		width: 100%
		display: flex
		align-items: center
		justify-content: center

		&-item
			display: flex
			align-items: center

			margin: 0 15px

			&.active &__number
				color: $mainColor
				background-color: $lightMainColor

			&.active &__title
				color: $black

			&__number
				user-select: none
				margin-right: 10px

				border-radius: 50%
				width: 30px
				height: 30px

				display: flex
				justify-content: center
				align-items: center

				font-size: 15px
				background-color: $borderGray
				color: $gray

			&__title
				white-space: nowrap
				font-size: 15px
				user-select: none
				color: $gray

		&-line
			width: 10%
			height: 1px

			background-color: $borderGray

	&-form-wrapper
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column

		width: 50%

	&-form
		width: 100%
		min-height: 200px

	&-info
		width: 40%
		padding: 35px
		background-color: $white
		+borderRadiusBlock
		+openAnimation

		&__title
			font-size: 36px
			margin-bottom: 50px

			& span
				white-space: nowrap
				padding-left: 15px
				font-size: 28px
				color: $gray

		&-course
			&-block
				display: flex
				align-items: center

				padding-bottom: 25px
				margin-bottom: 25px
				border-bottom: 1px solid $borderGray

				&:last-child
					margin-bottom: 0
					padding-bottom: 0
					border: none

				&-img
					display: block
					min-width: 75px
					min-height: 75px
					border-radius: 50%

					+backgroundSetting

				&__title
					font-size: 21px
					margin-left: 25px

		&-list
			list-style: none

			&__item
				font-size: 21px
				margin-bottom: 10px
