// reglog
.reglog
	display: flex
	flex-direction: column
	justify-content: center

	padding: 50px 0
	min-height: 100vh
	background-color: $backgroundGray

	&-wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

	&-logo
		margin-bottom: 75px

		&__img
			width: 75px
			user-select: none

	&-block
		width: 600px
		padding: 50px
		background-color: $white
		+borderRadius
		+openAnimation

		&-title
			margin-bottom: 50px

		&__title
			font-size: 32px
			margin-bottom: 20px

		&__subtitle
			display: block

			font-size: 21px
			color: $mainColor

		&__description
			display: block
			font-size: 21px

			& a
				color: $mainColor

		&-input
			margin-bottom: 40px

		&-checkbox
			margin-top: 75px

		&__btn
			margin-top: 25px
			width: 100%

	&-bottom
		margin-top: 50px
		font-size: 18px

		&__link
			color: $gray
			margin-left: 5px
