// shop
.shop
	margin: 75px 0
	+openAnimation

	&-top
		display: flex
		justify-content: space-between
		align-items: center

		&-search
			width: 40%

		&-filters
			cursor: pointer

			&__title
				user-select: none
				font-size: 24px
				color: $mainColor

				padding-bottom: 10px
				border-bottom: 2px solid $mainColor

				+Lora
				+transition

				&.active
					color: $gray
					border-bottom: 2px solid $gray

	&-filters
		display: flex
		margin-top: 50px
		+openAnimation

		&-col
			width: 30%
			margin-right: 50px
			padding-bottom: 50px
			border-bottom: 1px solid $borderGray

			&:last-child
				margin-right: 0

			&-block
				max-height: 250px
				overflow-y: auto

				&::-webkit-scrollbar
					width: 4px
					height: 7px
					background-color: #F0F0F0

				&::-webkit-scrollbar-thumb
					background-color: #E2E2E2
					border-radius: 3px

				&::-webkit-scrollbar-thumb:hover
					background-color: #E2E2E2

				&::-ms-scrollbar
					width: 4px
					height: 8px
					background-color: #F0F0F0

				&::-ms-scrollbar-thumb
					background-color: #E2E2E2
					border-radius: 3px

				&::-ms-scrollbar-thumb:hover
					background-color: #E2E2E2

				&-checkbox
					margin-bottom: 10px

	&-btn-wrapper
		margin-top: 50px
		display: flex
		flex-wrap: wrap
		align-items: center

		max-width: 75%

	&__btn
		display: inline-block
		border: none
		border: 1px solid $mainColor
		background-color: transparent
		padding: 10px 20px
		white-space: nowrap
		color: $mainColor
		cursor: pointer
		user-select: none
		font-size: 17px
		border-radius: 100px

		margin-right: 10px
		margin-bottom: 10px

		+GilroyRegular
		+transition
		+openAnimation

		&:hover
			background-color: $mainColor
			color: $white

		&.active
			background-color: $mainColor
			color: $white

	&-block-wrapper
		display: flex
		flex-wrap: wrap

		margin-top: 100px

	&-block
		display: flex
		flex-direction: column
		justify-content: space-between

		width: 25%

		margin-bottom: 75px
		padding: 0 15px
		+openAnimation

		&:nth-of-type(4n+4)
			margin-right: 0

		&-top
			&-cover
				display: block
				width: 100%
				height: 230px

				+backgroundSetting
				+borderRadius

			&-text
				margin-top: 25px

				&__title
					font-size: 24px

				&__auth
					display: block
					margin-top: 35px
					font-size: 21px
					color: $mainColor

				&-tags
					margin-top: 15px

				&__time
					margin-right: 15px
					color: $gray

				&__category
					margin-right: 5px
					color: $gray

		&-bottom
			margin-top: 50px

			display: flex
			justify-content: space-between
			align-items: center

			&__subprice
				font-size: 21px
				margin-bottom: 5px
				color: $gray
				text-decoration: line-through

			&__price
				font-size: 24px

			&__btn
				padding: 15px 25px
				font-size: 16px

	&-btn-pagination
		margin-top: 50px

		display: flex
		justify-content: center

	&-not-found
		margin: 150px 0
		display: flex
		justify-content: center
		+openAnimation

		&__title
			font-size: 32px
			color: $gray

// shop-section
.shop-section
	margin: 75px 0

	&-block-wrapper
		display: flex
		flex-wrap: wrap

	&-btn
		display: flex
		justify-content: center
		align-items: center

// course-page
.course-page
	&__btn
		position: fixed
		z-index: 10

		bottom: 30px
		right: 30px

		min-width: 300px

		opacity: 0
		+transition

		&.active
			opacity: 1

// course-flax-bears
.course-flax-bears
	&__title
		font-size: 48px

	&__title__mb
		margin-bottom: 100px
		font-size: 48px

	&-main
		margin: 100px 0
		+openAnimation

		&-wrapper
			display: flex
			justify-content: space-between
			align-items: center

		&-text
			width: 50%

			&-subinfo
				display: flex
				flex-wrap: wrap

				font-size: 21px

				&__category
					color: $mainColor
					margin-right: 25px
					margin-bottom: 15px

				&__time
					color: $gray
					margin-bottom: 15px

			&__description
				margin-top: 25px
				font-size: 24px

			&-master
				margin-top: 50px

				display: flex
				align-items: center

				&-avatar
					width: 50px
					height: 50px
					border-radius: 50%
					margin-right: 15px
					+backgroundSetting

				&__name
					font-size: 21px

			&__price
				margin-top: 50px
				display: block
				font-size: 24px

			&__btn
				margin-top: 25px
				width: 75%

		&-video
			width: 45%

			& video
				width: 100%
				border-radius: 15px

	&-about
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between
			align-items: center

		&-text
			width: 50%

			&__description
				margin-top: 50px
				font-size: 21px

		&-img
			width: 45%
			height: 400px

			+borderRadius
			+backgroundSetting

	&-for
		margin: 100px 0

		&-items-wrapper
			display: flex
			justify-content: space-between

		&-item
			display: flex
			flex-direction: column

			width: 28%

			&-icon
				height: 175px
				display: flex
				align-items: center

			&__title
				font-size: 28px
				margin-bottom: 25px

			&__description
				font-size: 21px

	&-skills
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-title
			width: 40%

		&-items-wrapper
			width: 50%

		&-item
			display: flex
			align-items: flex-end

			padding-bottom: 25px
			margin-bottom: 50px

			border-bottom: 1px solid $borderGray

			&:last-child
				margin-bottom: 0

			&__subtitle
				color: $gray
				margin-right: 15px

			&__title
				font-size: 24px

		&-images-wrapper
			margin-bottom: 100px
			margin-top: 50px

			display: flex
			justify-content: space-between
			align-items: center

		&-img
			width: 30%
			height: 300px

			+borderRadius
			+backgroundSetting

			&.long
				height: 400px

	&-result
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-block
			width: 30%

		&-img
			width: 100%
			height: 300px

			+borderRadius
			+backgroundSetting

		&__description
			font-size: 21px

	&-programm
		margin: 100px 0

		&-item
			display: flex
			justify-content: space-between
			align-items: flex-start

			padding-bottom: 25px
			margin-bottom: 75px
			border-bottom: 1px solid $borderGray

			&:last-child
				margin-bottom: 0

			&-title
				display: flex
				align-items: flex-end

				&__title
					font-size: 28px

				&__subtitle
					color: $gray
					margin-right: 15px

			&-ul
				width: 50%
				list-style: none

			&__li
				margin-bottom: 25px
				font-size: 21px

	&-middle
		display: flex
		justify-content: center
		align-items: center

		width: 100%
		height: 250px
		overflow: hidden

		&-image

	&-materials
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-title
			width: 35%

		&-items-wrapper
			width: 55%

		&-item
			display: flex
			align-items: flex-end

			padding-bottom: 25px
			margin-bottom: 50px

			border-bottom: 1px solid $borderGray

			&:last-child
				margin-bottom: 0

			&__subtitle
				color: $gray
				margin-right: 15px

			&__title
				font-size: 24px

	&-master
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-text
			width: 50%

		&__title
			margin-bottom: 50px

		&__description
			font-size: 24px
			margin-bottom: 75px

		&-img
			width: 40%
			height: 700px

			+borderRadius

			background-repeat: no-repeat
			background-size: cover
			background-position: center top

		&-media
			&__btn
				display: none
				width: 100%
				margin-top: 25px

	&-contest
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-text
			width: 65%

		&__title
			margin-bottom: 50px

		&__description
			font-size: 24px

		&-img
			width: 300px

	&-chat
		margin: 100px 0

		&-wrapper
			display: flex
			justify-content: space-between

		&-text
			width: 65%

		&__title
			margin-bottom: 50px

		&__description
			font-size: 24px

		&-img
			width: 300px

	&-work
		margin: 100px 0

		&-cols-wrapper
			display: flex
			justify-content: space-between

		&-col
			display: flex
			flex-direction: column
			justify-content: space-around

			width: 48%

		&-img
			width: 100%
			height: 550px

			margin-bottom: 50px

			+borderRadius
			+backgroundSetting

		&-media
			&-wrapper
				display: none
				overflow-x: auto

			&-img
				min-width: 250px
				height: 250px

				margin-right: 25px
				margin-bottom: 50px

				+borderRadius
				+backgroundSetting

				&:last-child
					margin-right: 0

	&-faq
		margin: 100px 0

		&-item
			display: flex
			justify-content: space-between

			padding-bottom: 25px
			margin-bottom: 75px
			border-bottom: 1px solid $borderGray

			&:last-child
				margin-bottom: 0

			&__title
				width: 50%
				font-size: 28px

			&__description
				width: 40%
				font-size: 24px

@media screen and ( max-width: 1200px )
	.course-flax-bears
		&-main
			margin: 50px 0

			&-text
				width: 55%

			&-video
				width: 40%

		&-about
			margin: 50px 0

		&-for
			margin: 50px 0

			&-items-wrapper
				flex-direction: column

			&-item
				width: 70%
				margin-bottom: 75px

		&-skills
			margin: 50px 0

		&-result
			margin: 50px 0

		&-programm
			margin: 50px 0

		&-materials
			margin: 50px 0

		&-master
			margin: 50px 0

		&-contest
			margin: 50px 0

		&-chat
			margin: 50px 0

		&-work
			margin: 50px 0

		&-faq
			margin: 50px 0

@media screen and ( max-width: 1100px )
	.course-flax-bears
		&-main
			&-wrapper
				flex-direction: column

			&-text
				width: 100%
				margin-bottom: 50px

			&-video
				width: 100%

		&-result
			&-wrapper
				flex-direction: column

			&-block
				width: 100%
				margin-bottom: 50px

			&-img
				height: 500px

		&-materials
			&-wrapper
				flex-direction: column

			&-title
				width: 100%
				margin-bottom: 100px

			&-items-wrapper
				width: 100%

		&-contest
			&-wrapper
				flex-direction: column

			&-img
				width: 200px
				order: 1
				margin-bottom: 50px

			&-text
				width: 100%
				order: 2

		&-chat
			&-wrapper
				flex-direction: column

			&-img
				width: 200px
				order: 1
				margin-bottom: 50px

			&-text
				width: 100%
				order: 2

		&-faq
			&-item
				flex-direction: column

				&__description, &__title
					width: 100%

				&__title
					margin-bottom: 25px

@media screen and ( max-width: 900px )
	.course-flax-bears
		&-about
			&-wrapper
				flex-direction: column

			&-text
				margin-bottom: 50px
				width: 100%
				order: 1

			&-img
				width: 100%
				order: 2

		&-for
			&-item
				width: 100%

		&-skills
			&-wrapper
				flex-direction: column

			&-title
				width: 100%
				margin-bottom: 100px

			&-items-wrapper
				width: 100%

			&-images-wrapper
				justify-content: flex-start
				overflow-y: auto

			&-img
				min-width: 250px
				height: 250px
				margin-right: 25px

				&:last-child
					margin-right: 0

		&-programm
			&-item
				flex-direction: column

				&-title
					width: 100%
					margin-bottom: 50px

				&-ul
					width: 100%

		&-master
			&-wrapper
				flex-direction: column

			&-text
				width: 100%
				margin-bottom: 50px

			&__description
				margin-bottom: 0

			&__btn
				display: none

			&-img
				width: 100%
				height: 500px

			&-media
				&__btn
					display: block

		&-contest
			&-text
				width: 100%

		&-chat
			&-text
				width: 100%

		&-work
			&-cols-wrapper
				display: none

			&-media
				&-wrapper
					display: flex

@media screen and ( max-width: 500px )
	.course-page
		&__btn
			width: 95%
			left: 50%
			bottom: 10px
			transform: translateX(-50%)

	.course-flax-bears
		&__title
			font-size: 32px

		&__title__mb
			font-size: 32px
			margin-bottom: 50px

		&-main
			&-text
				&__description
					font-size: 21px

				&-master
					display: none

				&__price
					display: none

				&__btn
					display: none

		&-skills
			&-item
				&__title
					font-size: 21px

		&-programm
			&-item
				&__title
					font-size: 24px

		&-materials
			&-item
				&__title
					font-size: 21px

		&-master
			&__description
				font-size: 21px

		&-contest
			&-img
				width: 100px

			&__description
				font-size: 21px

		&-chat
			&-img
				width: 100px

			&__description
				font-size: 21px

		&-faq
			&-item
				&__title
					font-size: 24px

				&__description
					font-size: 21px
