// training
.training
	margin: 50px 0
	+openAnimation

	&-block-wrapper
		display: flex
		flex-wrap: wrap

	&-block
		width: 100%
		display: flex
		margin-bottom: 50px
		padding-bottom: 50px
		border-bottom: 1px solid $borderGray
		+openAnimation

		&:last-child
			margin-bottom: 0
			border: none

		&:hover &-cover
			&-placeholder
				background-color: $blackTransparency

			&-icon
				opacity: 1
				transform: translate(-50%, -50%) scale3d(1, 1, 1)

		&-cover
			position: relative
			overflow: hidden
			min-width: 250px
			height: 200px
			+borderRadius

			&-placeholder
				position: absolute
				width: 100%
				height: 100%

				background-color: rgba(0, 0, 0, 0)
				+transition

			&-icon
				position: absolute
				left: 50%
				top: 50%

				transform: translate(-50%, -50%) scale3d(.90, .90, .90)
				opacity: 0
				+transition

			&-img
				width: 100%
				height: 100%

				+backgroundSetting

		&-text
			width: 50%
			margin-left: 50px
			display: flex
			flex-direction: column
			justify-content: space-between

			&__title
				font-size: 36px
				margin-bottom: 25px

			&__auth
				font-size: 21px
				color: $mainColor

	&-null
		display: flex
		justify-content: space-between
		align-items: center

		&-text
			width: 55%

			&__title
				margin-bottom: 25px

			&__btn
				width: 300px

		&__img
			width: 450px
			user-select: none
